<configuration>
  
  <appSettings>
    <add key="SouthwestHomepageUrl" value="http://www.southwest.com"/>
    <add key="Browser" value="Chrome"/>
  </appSettings>
  
  <system.diagnostics>
    <switches>
      <add name="EqtTraceLevel" value="4" />
    </switches>
  </system.diagnostics>
  
</configuration>